@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan style scrollbar dari index.html sebelumnya di sini */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
